<div class="login-form_new">
  
  <h2>Payroll Login</h2>
  <%= form_with(url: sessions_path, method: 'post') do |form| %>
    <div class="txtb1">
      <%= form.label :email, class: "hidden" %>
      <%= form.text_field :email, placeholder: "Username" %>
    </div>
    <div class="txtb1">
      <%= form.label :password, class: "hidden" %>
      <%= form.password_field :password, placeholder: "Password" %>
    </div>
    <%= form.submit 'Login', class: "logbtn" %>
  <% end %>
  <div class="bottom-text1">
    Don't have an account? <%= link_to "Sign up", "#" %>
  </div>
</div>

