<div class="flash-notice">
  <%= flash[:notice] %>
</div>
<div class="flash-success">
  <%= flash[:success] %>
</div>
<div class="flash-alert">
  <%= flash[:alert] %>
</div>
<div class="login-form_new">
  
  <h2>Payroll Login</h2>
  <%= form_with(url: sessions_path, method: 'post') do |form| %>
    <div class="txtb1">
      <%= form.label :email, class: "hidden" %>
      <%= form.text_field :email, placeholder: "Username" %>
    </div>
    <div class="txtb1">
      <%= form.label :password, class: "hidden" %>
      <%= form.password_field :password, placeholder: "Password" %>
    </div>
    <%= form.submit 'Login', class: "logbtn" %>
  <% end %>
  
</div>
<script>
  $(document).ready(function(){
    // Function to fade out flash messages
    function fadeOutFlash(selector) {
      setTimeout(function(){
        $(selector).fadeOut('slow');
      }, 1000);
    }

    // Fade out different flash messages
    fadeOutFlash('.flash-notice');
    fadeOutFlash('.flash-success');
    fadeOutFlash('.flash-alert');
  });
</script>
