<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Montserrat&display=swap" rel="stylesheet">
<div class="flash-notice">
  <%= flash[:notice] %>
</div>
<div id="survey-container_user">
  <h2>Register Employee Here!!!</h2>
  <%= form_with(model: @user, url: users_path, local: true, id: "survey-form_user") do |form| %>
    <div class="row">
      <div class="col">
        <%= form.label :name, "Name:", id: "name-label", class: "row-label-user" %>
        <%= form.text_field :name, class: "row-input_user", placeholder: "Enter your name" %>
      </div>
      <div class="col">
        <%= form.label :employee_code, "Employee Code:", id: "name-label", class: "row-label-user" %>
        <%= form.text_field :employee_code, class: "row-input_user", placeholder: "Enter your code" %>
      </div>
      <div class="col">
        <%= form.label :email, "Email:", id: "name-label", class: "row-label-user" %>
        <%= form.text_field :email, class: "row-input_user", placeholder: "Enter your email" %>
      </div>
      <div class="col">
        <%= form.label :password, "Password:", id: "name-label", class: "row-label-user" %>
        <%= form.text_field :password, class: "row-input_user", placeholder: "Enter your password" %>
      </div>
      <div class="col">
        <%= form.label :current_salary, "Current Salary:", id: "name-label", class: "row-label-user" %>
        <%= form.text_field :current_salary, class: "row-input_user", placeholder: "Enter your Salary" %>
      </div>
      <div class="col">
        <%= form.label :is_hr, "HR:", id: "name-label", class: "row-label-user" %>
        <%= form.select :is_hr, options_for_select([['Yes', true], ['No', false]], @user.is_hr), {}, { class: 'row-input_user' } %>
      </div>
    </div>
    <%= form.submit "Submit", id: "submit" %>
  <% end %>
</div>
<script>
  $(document).ready(function(){
    function fadeOutFlash(selector) {
      setTimeout(function(){
        $(selector).fadeOut('slow');
      }, 3000);
    }

    fadeOutFlash('.flash-notice');
    fadeOutFlash('.flash-success');
    fadeOutFlash('.flash-alert');
  });
</script>

