<h1>Salary Slips</h1>

<%= form_tag(salary_slip_users_path, method: :get, id: 'salary-form') do %>
  <label for="month">Select Month:</label>
  <%= select_tag "month", options_for_select((1..12).map { |m| [Date::MONTHNAMES[m], m] }, selected: @selected_month), prompt: 'Select Month', class: 'month-dropdown' %>
<% end %>

<script>
  $(document).ready(function() {
    $('.salary-slip-link').on('click', function(event) {
      // Check if a month is selected
      if ($('.month-dropdown').val() === "") {
        // Prevent the default action (opening the link)
        event.preventDefault();
        // Display an alert
        alert("Please select a month before viewing the salary slip.");
      }
    });

    $('.month-dropdown').change(function() {
      $('#salary-form').submit();
    });
  });
</script>
<table>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
  <thead>
    <tr>
      <th>Name</th>
      <th>Employee Code</th>
      <th>Email</th>
      <th>Salary Slip</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.employee_code %></td>
        <td><%= user.email %></td>
        <td>
          <% salary_slip_generated = SalarySlip.exists?(user: user, year: Date.current.year, month: @selected_month) %>
          <% salary_attendance_present = Attendance.where('user_id = ? AND EXTRACT(MONTH FROM date) = ?', user.id, @selected_month).exists? %>
        
          <% if salary_slip_generated %>
            <%= link_to 'View Salary Slip', view_salary_slip_details_user_path(user, month: @selected_month), class: 'salary-slip-link'  %>
          <% else %>
            <%= link_to 'Generate Salary (PDF)', view_salary_slip_details_user_path(user, month: @selected_month, format: :pdf), class: 'salary-slip-link', target: '_blank' if salary_attendance_present.present? %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    // Function to fade out flash messages
    function fadeOutFlash(selector) {
      setTimeout(function(){
        $(selector).fadeOut('slow');
      }, 3000);
    }

    // Fade out flash messages after page load
    fadeOutFlash('.flash-notice');
    fadeOutFlash('.flash-success');
    fadeOutFlash('.flash-alert');
  });
</script>