<!DOCTYPE html>
<html>
<head>
  <title>Salary Slip</title>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
</head>
<body>
  <h1>Salary Slip</h1><table>
  <tr>
    <th>Details</th>
    <th>Amount</th>
  </tr>
  <tr>
    <td>Emp Code</td>
    <td><%= @user.employee_code %></td>
  </tr>
  <tr>
    <td>Emp Code</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Current Salary</td>
    <td><%= number_to_currency(@user.current_salary, unit: '') %></td>
  </tr>
  <tr>
    <td>Total Working Days</td>
    <td><%= @salary_details[:working_days_in_month] %> days</td>
  </tr>
  <tr>
    <td>Employee's Working Days</td>
    <td><%= @salary_details[:employee_working_days] %> days</td>
  </tr>
  <tr>
    <td>Leaves Taken</td>
    <td><%= @salary_details[:leave_days] %> days</td>
  </tr>
  <tr>
    <td>Net Salary</td>
    <td><%= number_to_currency(@salary_details[:net_salary], unit: '') %></td>
  </tr>
</table>
</body>
</html>

