<style type="text/css">
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  li {
    list-style: none;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    box-shadow: 0px 35px 60px rgba(0, 0, 0, 0.25);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .header__logo {
    text-transform: uppercase;
  }

  .header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 54px;
  }

  .header__link {
    font-size: 20px;
    text-transform: uppercase;
    color: #6A6A6A;
    text-decoration: none;
    position: relative;
  }

  .header__link::after {
    content: "";
    width: 0px;
    height: 2px;
    background: blue;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.3s ease;
  }

  .header__link:hover::after {
    width: 100%;
    transition: 0.3s ease;
  }

  .header__link--logout {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: #6A6A6A;
    font-size: 20px;
  }

  .header__dropdown {
    position: relative;
    display: inline-block;
  }

  .header__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .header__dropdown:hover .header__dropdown-content {
    display: block;
  }

  .header__dropdown-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
  }

  .header__dropdown-link:hover {
    background-color: #f1f1f1;
  }
</style>

<header class="header">
  <div class="container">
    <nav class="header__nav">
      <ul class="header__menu">
        <% if @current_user %>
          <li class="header__item">
            <%= link_to 'Register Employee', new_user_path, class: 'header__link' %>
          </li>
          <li class="header__item">
            <%= link_to 'Upload Attendance', new_attendance_path, class: 'header__link' %>
          </li>
          <li class="header__item header__dropdown">
            <a class="header__link" href="#">Views</a>
            <div class="header__dropdown-content">
              <%= link_to 'Calendar View', calendar_view_path, class: 'header__dropdown-link' %>
              <%= link_to 'List View', list_view_path, class: 'header__dropdown-link' %>
            </div>
          </li>
          <li class="header__item">
            <%= link_to 'Check Payslip', salary_slip_users_path, class: 'header__link' %>
          </li>
          <%= form_tag(destroy_user_session_path, method: :delete, class: "header__item") do %>
            <%= submit_tag "Logout", class: "header__link header__link--logout" %>
          <% end %>
        <% else %>    
          <li class="header__item"><a href="#" data-method="post" class="header__link">Contact</a></li>
        <% end %>    
      </ul>
    </nav>
  </div>
</header>
