<!DOCTYPE html>
<html>
  <head>
    <title>PayrollSystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
    <%= javascript_include_tag 'calendar' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if @current_user %>
      <%= render 'shared/header' %>
      <%#= render 'layouts/flash_messages' %>

      <%#= render 'shared/sidebar' %>
      <%#= render 'shared/footer' %>
    <% end %>

    <%= yield %>
  </body>
</html>
